#homeHeader {
    margin: 20px;
    float: left;
}
#logoHeader {
    background-color: #556B2F;
    color: #FEE135;
    text-align: center;
    height: 120px;
    font-size: 100px;
    text-shadow: 0 0 3px #000;
}
#logInUser {
    margin: 40px;
    color: #FEE135;
    float: right;
    font-size: 20px;
    text-shadow: 0 0 0 #000;
}

#dataPanel {
    background-color: #c6de9c;
    padding-left: 120px;
}

#adminPanel {
    height: 50px;
    background-color: #556B2F;
    color: #c6de9c;
}

.dataTab {
    padding: 10px;
    border-radius: 50px;
    display: block;
    float: left;
    position: relative;

}

.tabDiv {
    border: 2px outset #556B2F;
    background-color: #c6de9c;
    text-align: center;
    height: 800px;
    width: 400px;
    font-size: 12px;
    overflow-y:auto;
    float: left;
}
#ukrainePremiereLiagueTable {
    font-size: 16px;
}
#liveMatch {
    height: 480px;
    width: 700px;
}

.categories {
    width: 120px;
    float: left;
}
.categories a {
    background-color: #c6de9c;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.categories a:hover {
    background-color: #96ab6d;
}
.categories a.active {
    background-color: #556B2F;
    color: white;
}
