body {
    background-color: #e9f8d8;
}

#header {
    height: 130px;
}
#homeHeader {
    margin: 20px;
    float: left;
}
#logoHeader {
    background-color: #556B2F;
    color: #FEE135;
    text-align: center;
    font-size: 100px;
    text-shadow: 0 0 3px #000;
}
#logInUser {
    margin: 40px;
    color: #FEE135;
    float: right;
    font-size: 20px;
    text-shadow: 0 0 0 #000;
}

#dataPanel {
    background: #e9f8d8;
    padding-left: 120px;
}

#adminPanel {
    height: 50px;
    background: #556B2F;
    color: #e9f8d8;
}

.dataTabTitle {
    font-family: "Copperplate";
    color: #604439;
    background: #e6e5ca;
}
.dataTab {
    background: #e9f8d8;
    padding: 10px;
    float: left;
}

iframe {
    width:100%;
    height:100%;
}

.tabDiv {
    border: 2px outset #556B2F;
    background: #e9f8d8;
    text-align: center;
    height: 800px;
    width: 400px;
    font-size: 12px;
    overflow-y:auto;
    float: left;
}
#ukrainePremiereLiagueTable {
    font-size: 16px;
}
#liveMatch {
    height: 480px;
    width: 700px;
}

.categories {
    width: 120px;
    float: left;
}
.categories a {
    background: #e9f8d8;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.categories a:hover {
    background: #96ab6d;
}
.categories a.active {
    background: #556B2F;
    color: white;
}
