<!DOCTYPE HTML>
<html>
<head>
    <%- include('../fragments/head'); %>
</head>
<body>
    <header>
        <%- include('../fragments/header'); %>
    </header>

<div class="categories">
    <%- categories %>
</div>

<div id="dataPanel">
    <%- dataTabs %>
</div>

</body>
</html>
