<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Ukr Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div id="header">
    <div id="homeHeader">
        <a href="/app" title="Home">
            <img style="border: 1px black;" height="75px"
                 src="https://upload.wikimedia.org/wikipedia/commons/7/79/%D0%A2%D1%80%D0%B8%D0%B7%D1%83%D0%B1.png"/>
        </a>
    </div>
    <div id="logoHeader">Ukr Dashboard
        <div id="logInUser">
            <!--            <div>-->
            <!--                <a href="/app/login">Log in</a>-->
            <!--            </div>-->
        </div>
    </div>
    <div style="height:5px; float: bottom; background-color: #0056B9"></div>
    <div style="height:5px; float: bottom; background-color: #FFD800"></div>
</div>

<div class="categories">
    <%- categories %>
</div>

<div id="dataPanel">
    <%- dataTabs %>
</div>

<!--<div id="log" style="float: bottom;">-->
<!--    <%- log %>-->
<!--</div>-->

</body>
</html>
