<!DOCTYPE HTML>
<html>
<head>
    <%- include('../fragments/head'); %>
    <link rel="stylesheet" type="text/css" href="/css/profile.css"/>
</head>
<body>
<div id="contentDiv">
    <header>
        <%- include('../fragments/header'); %>
    </header>

    <div class="container" id="container">
        <div class="profileDiv">
            <h1>Привіт, <%- username %> !</h1>
        </div>
    </div>

    <%- include('../fragments/footer'); %>
</div>
</body>
</html>
