<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CQ0L2WVLM2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CQ0L2WVLM2');
</script>

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8253345393205115"
        crossorigin="anonymous"></script>

<meta charset="utf-8"/>
<title>Ukr Dashboard</title>

<link rel="stylesheet" type="text/css" href="/css/main.css"/>
